<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" verbose="false" bootstrap="./tests/bootstrap.php">

    <testsuites>
        <testsuite name="OpenCloud">
            <directory>./tests/OpenCloud/Tests/Zf2</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/OpenCloud/Zf2</directory>
            <exclude>
                <directory>./lib/OpenCloud/**/Enum</directory>
                <directory suffix="Exception.php">./lib/OpenCloud/**/Exception</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml" />
    </logging>

</phpunit>