<?php

return array(

    'opencloud' => array(
        'username' => '',
        'apiKey'   => '',

        'password' => '',

        'tenantName' => '',
        'tenantId'   => '',
        
        'region' => '',
        'url_type' => ''
    )

);